@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    /* Dynamic animated gradient background */
    background: linear-gradient(-45deg, #0f172a, #1e1b4b, #312e81, #172554);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    color: white;
}

.title-font {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.pixel-font {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
}

/* Utilidad para el efecto de sombra en textos retro */
.text-shadow-custom {
    text-shadow: 2px 2px 0px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Animación para el hover de las tarjetas */
.card-hover:hover {
    box-shadow: 0 0 20px rgba(250, 204, 21, 0.6);
    /* Glow amarillo */
    border-color: #facc15;
    transform: translateY(-5px) scale(1.02);
}